src/OnlineSales/OnlineSales.Portal/Web References/ProductService/CompareProducts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OnlineSales.WCFServices.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OnlineSales.WCFServices.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductIdentifierDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductIdentifierDataContract" nillable="true" type="tns:ProductIdentifierDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductIdentifierDataContract" nillable="true" type="tns:ArrayOfProductIdentifierDataContract" />
  <xs:complexType name="ProductIdentifierDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductId" type="xs:long" />
      <xs:element minOccurs="0" name="VendorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductIdentifierDataContract" nillable="true" type="tns:ProductIdentifierDataContract" />
  <xs:complexType name="ArrayOfProductsDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductsDataContract" nillable="true" type="tns:ProductsDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductsDataContract" nillable="true" type="tns:ArrayOfProductsDataContract" />
  <xs:complexType name="ProductsDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other_Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
      <xs:element minOccurs="0" name="ProductId" type="xs:long" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="VendorId" type="xs:int" />
      <xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductsDataContract" nillable="true" type="tns:ProductsDataContract" />
</xs:schema>